<% include partials/header %>

<h1>Login page</h1>

<ul>
    <li><a href="alumni/register">Register as alumni</a></li>
    <li><a href="admin/register">Register as admin</a></li>
    <li><a href="alumni/login">Login as alumni</a></li>
    <li><a href="admin/login">Login as admin</a></li>
</ul>

<% include partials/footer %>